{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid"><div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <div class="panel-title">Login</div>
            </div>
            <div class="panel-body">
                {% for e in form.non_field_errors %}<p class="text-danger">{{ e }}</p>{% endfor %}
                <form class="form-horizontal" method="POST" role="form" action="">
                    {% csrf_token %}
                    {% for e in form.username.errors %}<p class="text-danger">{{ e }}</p>{% endfor %}
                    <div class="input-group" style="margin-bottom: 30px; margin-top: 40px">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input class="form-control" type="text" name="{{ form.username.name }}" value="{{ form.username.value|default_if_none:'' }}" required />
                    </div>
                    {% for e in form.password.errors %}<p class="text-danger">{{ e }}</p>{% endfor %}
                    <div class="input-group" style="margin-bottom: 30px">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input class="form-control" type="password" name="{{ form.password.name }}" value="{{ form.password.value|default_if_none:'' }}" required />
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 coltrols">
                            <button type="submit" class="btn btn-primary col-sm-12"><i class="fa fa-sign-in icon-text">&nbsp;</i>Login</button>
                        </div>
                    </div>
                    <br>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div>
</div></div>
{% endblock %}
