{% extends 'base.html' %}

{% load i18n %}

{% block html_title %}{% trans 'Start new game or view results' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>{% blocktrans with user_name=user.get_full_name|default:user %}Hello, {{ user_name }}.{% endblocktrans %}</h4>
            <a href="{% url 'game:start' %}" class="btn btn-primary"><i class="fa fa-play">&nbsp;</i>{% trans 'Start new game' %}</a>
            <button class="btn btn-default"><i class="fa fa-book">&nbsp;</i>{% trans 'Rules' %}</button>
            <hr>
            <ul class="list-group">
                {% for match in matches2 %}
                    {% if match.finished %}
                        <li class="list-group-item">{{ match }}.</li>
                    {% else %}
                        <li class="list-group-item">{{ match }}. {% trans 'Game is on!' %} <a href="{{ match.get_absolute_url }}">{% trans 'Continue' %}</a></li>
                    {% endif %}
                {% empty %}
                    <li class="list-group-item text-center">
                        <span>{% trans 'You are not a judge of any match.' %}</span>
                        <a href="{% url 'game:start' %}">{% trans 'Start new one' %}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
