{% extends 'base.html' %}
{% block html_title %}Match detail{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">{# TODO exhaused letters block #}</div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">{# TODO make turn form #}</div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">{# TODO all turns block #}</div>
    </div>
</div>
{% endblock %}
{% block body_scripts %}
    {{ block.super }}
{% endblock %}
