{% extends 'base.html' %}
{% block html_title %}Match detail{% endblock %}
{% block content %}
<div class="container">
    <div class="row match-detail-row">
        <div class="col-md-6 col-md-offset-3">
            {% spaceless %}
            <label>Exhaused letters:</label>
            <div id="exhaused-letters-block">
                {% for letter in match.exhaused_letters %}<label class="btn btn-danger letter-btn-label">{{ letter }}</label>{% endfor %}
            </div>
            {% endspaceless %}
        </div>
    </div>
    <div class="row match-detail-row">
        <div class="col-md-6 col-md-offset-3">
            <a href={% url 'game:end' match.id %} class="btn btn-default">End game</a>
        </div>
    </div>
    <div class="row match-detail-row">
        <div class="col-md-6 col-md-offset-3">
            <form id="maketurn_form" method="POST">
                {% csrf_token %}
                {% if turn_form.non_field_errors %}<p class="text-danger">{{ turn_form.non_field_errors }}</p>{% endif %}
                <div id="make_turn_input" class="input-group input-group-lg">
                    <span class="input-group-btn">
                        <label id="current-letter" class="btn btn-success" type="button">{{ match.current_letter | default:'...' }}</label>
                    </span>
                    {{ turn_form.city }}
                    <span class="input-group-btn"><button class="btn btn-primary" type="submit">Answer</button></span>
                </div>
                {% if turn_form.city.errors %}{% for err in turn_form.city.errors %}<p class="form-error-text text-danger">{{ err }}</p>{% endfor %}{% endif %}
            </form>
        </div>
    </div>
    <div class="row match-detail-row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">{{ match.current_team_name }}</h3>
                </div>
                {% spaceless %}
                <ul class="list-group" id="turns_list">
                    {% for turn in turns %}
                        <li class="list-group-item">{{ turn.city }}</li>
                    {% empty %}
                        <li class="list-group-item">&nbsp;</li>
                    {% endfor %}
                </ul>
                {% endspaceless %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body_scripts %}
    {{ block.super }}
{% endblock %}
